In [ ]:
import pandas as pd
from fuzzywuzzy import fuzz
import re
import geopy

craftnotes = pd.read_csv('brewerylist.csv').columns.tolist()
craftnotes = [i.strip() for i in craftnotes]

all_breweries = pd.read_csv('bar_addresses.csv')

In [ ]:
[i for i in craftnotes if i.lower() in [j.lower().strip() for j in all_breweries.name.tolist()]]

In [ ]:
all_breweries.name.tolist()

In [ ]:
[fuzz.token_set_ratio(craftnotes[1], opt) for opt in all_breweries.name.tolist()]

In [ ]:
breweries = {}
bad_options = {}
for bar in craftnotes:
    options = [fuzz.token_set_ratio(bar, opt) for opt in all_breweries.name.tolist()]
    best_match = all_breweries.name.tolist()[options.index(max(options))]
    outcome = {'best_match': best_match, 'score': max(options)}
    
    if max(options) < 100:
        bad_options[bar] = outcome
    else:
        breweries[bar] = outcome

    print(bar, "   ", best_match, "   ", max(options))

breweries = {**breweries, **bad_options}

In [ ]:
craftnotes_df = pd.DataFrame.from_dict(breweries, orient='index').reset_index().rename(columns={'index': 'CraftNotes', 'best_match': 'name', 'score': 'Score'})

In [ ]:
craftnotes_df

In [ ]:
all_breweries_df = all_breweries.join(craftnotes_df.set_index('name'), on='name')

In [ ]:
import googlemaps
maps = googlemaps.Client(key='AIzaSyB2Q8Ln_joGNbhN395myERSlRSXt6qgvss')
output = maps.geocode('36846 Co Rd 55 Crosslake, Minnesota 56442')

In [ ]:

def geocode(address):
    try:
        output = maps.geocode(address)[0]['geometry']['location']
        return f"{output['lng']}, {output['lat']}"
    except:
        return None

In [ ]:
all_breweries_df['location'] = all_breweries_df.address.apply(geocode)

In [ ]:
all_breweries_df.head(7)

In [ ]:
all_breweries_df.to_csv('bar_addresses_with_location.csv', index=False)

In [79]:
sheet_id = '1-1KBcSS_BkUMkYOC4cI9d7K4EXK31b8HrcnLHCrG1NQ'
sheet_name = 'Brewery_List'
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'
data = pd.read_csv(url)
ranking = pd.read_csv(
    f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Rankings')

In [83]:
ranking

            Brewery Name  Scores  Rank
0                The Lab  9.2625     1
1                 Surly   9.2500     2
2           Maple Island  9.1750     3
3                Bauhaus  8.8250     4
4             Head Flyer  8.6125     5
5                 Indeed  8.5750     6
6               Arbeiter  8.4750     7
7   Sociable Cider Werks  8.3625     8
8             Fair State  7.9375     9
9          Alloy Brewing  7.9000    10
10         Urban Growler  7.1500    11
11           Lift Bridge  7.0750    12
12              Bald Man  6.8625    13
13          Dual Citizen  6.0750    14
14               612Brew  5.1375    15
15                Spiral  5.0125    16
16                   NaN  0.0000    17

In [84]:
data = data.join(ranking.set_index('Brewery Name'), on='Brewery Name')

In [90]:
def match_brewery(brewery):
    options = [fuzz.token_set_ratio(brewery, opt) for opt in all_breweries_df.name.tolist()]
    best_match = all_breweries_df.name.tolist()[options.index(max(options))]
    if max(options) < 90:
        return None
    else:
        return best_match

In [91]:
data['place'] = data['Brewery Name'].apply(match_brewery)

In [95]:
all_breweries2 = pd.merge(all_breweries_df, data, left_on='name', right_on='place', how='left')

In [109]:
all_breweries2['visited'] = [pd.notna(i) for i in all_breweries2['Rank']]
all_breweries2['craftnotes'] = [pd.notna(i) for i in all_breweries2['CraftNotes']]

In [110]:
def visit_color(visited, craftnotes):
    if visited:
        return '#45BF55'
    elif craftnotes:
        return '#DC3522'
    else:
        return '#2980B9'

all_breweries2['color'] = all_breweries2.apply(lambda x: visit_color(x['visited'], x['craftnotes']), axis=1)

In [116]:
all_breweries2['lon'], all_breweries2['lat'] = zip(*all_breweries2['location'].apply(lambda x: tuple(map(float, x.split(',')))))

In [135]:
locations = pd.read_csv(
    '/mnt/c/rscripts/Brewery App/bar_addresses_with_location.csv')

sheet_id = '1-1KBcSS_BkUMkYOC4cI9d7K4EXK31b8HrcnLHCrG1NQ'
sheet_name = 'Brewery_List'
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'
data = pd.read_csv(url)
sheet_name = 'Rankings'
ranking = pd.read_csv(
    f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=Rankings')

data = data.join(ranking.set_index('Brewery Name'),
                 on='Brewery Name', rsuffix='_right')


def match_brewery(brewery):
    options = [fuzz.token_set_ratio(brewery, opt)
               for opt in locations.name.tolist()]
    best_match = locations.name.tolist()[options.index(max(options))]
    if max(options) < 90:
        return None
    else:
        return best_match


data['place'] = data['Brewery Name'].apply(match_brewery)

all_breweries = pd.merge(locations, data, left_on='name',
                         right_on='place', how='left')

all_breweries['visited'] = [pd.notna(i) for i in all_breweries['Rank']]
all_breweries['craftnotes'] = [pd.notna(i)
                               for i in all_breweries['CraftNotes']]


def visit_color(visited, craftnotes):
  if visited:
    return '#45BF55'
  elif craftnotes:
    return '#DC3522'
  else:
    return '#2980B9'


all_breweries['color'] = all_breweries.apply(
    lambda x: visit_color(x['visited'], x['craftnotes']), axis=1)

all_breweries['lon'], all_breweries['lat'] = zip(
    *all_breweries['location'].apply(lambda x: tuple(map(float, x.split(',')))))

missing_locations = data[pd.isnull(data['place'])]

left_to_visit = all_breweries[~all_breweries['visited']
                              & all_breweries['craftnotes']]

In [160]:
all_breweries['Score'].fillna(0)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
237      0.0
238    100.0
239    100.0
240    100.0
241    100.0
Name: Score, Length: 242, dtype: float64

In [153]:
i = all_breweries[~all_breweries['visited'] & all_breweries['craftnotes']].Rank.to_list()[0]

In [178]:
rankings = all_breweries[all_breweries['visited']][['name','Atmosphere ',
                                                    'Glassware', "Selection Andrew",
                                                    'Selection Olivia']]
rankings_norm = rankings.set_index('name').apply(
    lambda x: (x - x.min()) / (x.max() - x.min()))
rankings_norm.groupby(
    rankings_norm.index).agg(mean()).reset_index()

,name,Atmosphere,Glassware,Selection Andrew,Selection Olivia
0,612Brew,0.181818,0.000000,0.157895,0.130435
1,Alloy Brewing Company,0.545455,0.861111,0.684211,0.652174
2,Arbeiter Brewing Company,0.772727,0.833333,0.631579,0.739130
3,Bald Man Brewing Company,0.681818,0.888889,0.052632,0.304348
4,Bauhaus Brew Labs,0.863636,0.000000,0.736842,1.000000
5,Copper Trail Brewing Company,0.818182,0.722222,0.631579,0.217391
6,Dual Citizen Brewing Company,0.500000,0.638889,0.263158,0.000000
7,Fair State Brewing Cooperative,0.636364,0.861111,0.736842,0.521739
8,Indeed Brewing Company,0.863636,0.916667,0.894737,0.478261
9,Lift Bridge Brewing Co,0.363636,0.527778,0.578947,0.565217
10,Maple Island Brewing,0.909091,0.916667,0.684211,0.913043
11,Pantown Brewing Company,0.318182,0.750000,1.000000,0.521739
12,Sociable Cider Werks,0.590909,0.861111,0.736842,0.826087
13,Spiral Brewery,0.000000,0.583333,0.000000,0.217391
14,Surly Brewing Company,1.000000,0.888889,0.842105,0.739130
15,The Lab Pilot Brewery & Taproom,0.954545,1.000000,0.578947,0.956522
16,Urban Growler Brewing Company,0.636364,0.500000,0.526316,0.304348

In [177]:
rankings = all_breweries[all_breweries['visited']][['name', 'address', 'Scores',
                                                    'RankingOrder', 'Atmosphere ',
                                                    'Glassware', "Selection Andrew",
                                                    'Selection Olivia']]
rankings_norm = rankings[['name', 'Atmosphere ',
                          'Glassware', "Selection Andrew",
                          'Selection Olivia']]

KeyError: "['RankingOrder'] not in index"